<h1>New Announcement</h1>
<%= form_for @announcement, remote: true, :html => { class: 'ui form' } do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: 'Announcement Title' %>
  </div>

  <div class="field">
    <%= f.label :post %>
    <%= f.text_area :post, placeholder: 'Announcement Text' %>
  </div>

  <%= f.submit 'Post', class: 'ui primary button' %>
<% end %>
