<h1>New Event</h1>
<%= form_for @event, remote: true, :html => { class: 'ui form' } do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: 'Event Title' %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: 'Event Text' %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location, placeholder: 'Event Location' %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
  </div>
  <div class="fields">
    <%= f.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= f.label :end_time %>
  </div>
  <div class="fields">
    <%= f.datetime_select :end_time %>
  </div>

  <%= f.submit 'Create Event', class: 'ui primary button' %>
<% end %>
