<!DOCTYPE html>
<html>
  <head>
    <title>Dmfsu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui segment gold-background">
      <div class="ui secondary menu container">
        <%= link_to 'Announcements', root_path, class: 'item' %>
        <div class="right menu">
          <%= link_to 'Sign In', new_admin_session_path, class: 'item' %>
        </div>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
