<!DOCTYPE html>
<html>
  <head>
    <title>Dmfsu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui segment fixed gold-background">
      <div class="ui secondary menu container">
        <%= image_tag 'dmfsu.png', height: 48 %>
        <%= link_to 'Announcements', root_path, class: 'item' %>
        <div class="right menu">
          <% unless admin_signed_in?  %>
            <%= link_to 'Sign In', new_admin_session_path, class: 'item' %>
          <% else %>
            <div class="ui dropdown item">
              <%= current_admin.email %> <i class="dropdown icon"></i>
              <div class="menu">
                <%= link_to destroy_admin_session_path ,method: :delete, class: 'item' do %>
                  Sign Out
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="ui container">
      <% unless notice.nil? %>
        <div class="ui segment blue"><%= notice %></div>
      <% end %>
      <% unless alert.nil? %>
        <div class="ui segment red"><%= alert %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
